button {
    border: none;
    background-color:lightsteelblue;
    font-size: 24px;
    color:slategrey;
    font-weight: bold;
    cursor: pointer;
    border-radius: 10px;
    outline: none;
}

button:hover {
    background-color: steelblue;
}

.equals {
    grid-column: 3 / 5;
    background-color:coral;
}

.equals:hover {
    background-color: plum;
}